{% extends 'template.html' %}

{% block content %}
    <main class="container center">
        <div class="auth">
            <h2><img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" /> Sign Up</h2>

            <p class="info">Already have an account? <a href="{{ url_for('signin') }}">Sign In</a></p>

            <form id="authForm"  method="post" autocomplete="off">
                {{ form.csrf_token }}

                {{ form.email(placeholder='Email') }}
                {% for error in form.email.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}

                {{ form.password(placeholder='Password') }}
                {% for error in form.password.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}

                {{ form.secret(placeholder='Secret') }}
                {% for error in form.secret.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}

                <button type="submit">Sign Up</button>

                <p class="info">By clicking the "Sign Up" button, you are creating an account, and you agree to the <a href="#">Terms of Use</a></p>
            </form>

        </div>
    </main>
{% endblock %}